.title{
  font-family:  New Century Schoolbook, TeX Gyre Schola, serif;
  top: 13%;
  font-size: 10em;
  color: transparent;
  text-transform: uppercase;
  background-image: linear-gradient(to right,  rgb(211, 211, 46), #0ff, rgb(80, 231, 80), #00f);
  -webkit-background-clip: text;
    animation: example 20s linear infinite;
    background-size: 1000%;

}
#backbutton{
    
}
#Vizitati{
  cursor: pointer;
  top: 40%;
  border-radius: 20px;
  border-style: solid;
  border-width:3px;
  border-color: ivory;
  height: 50px;
  width: 290px;
  background-color: transparent;
  font-size: 20px;
  font-family: HANDLEE;
  font-weight: 800;
  text-decoration: none;
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.1), 0px 5px 12px rgba(0, 0, 0, 0.07);
  transition: 0.4s;
  
}
#Vizitati:hover{
  transform: perspective(1000px) translateZ(200px);
  background-color: #f1f1f1;
}
* {
  box-sizing: border-box;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 10px;
  border-radius: 60px;
  
}

.border-gradient-purple {
  border-image-source: linear-gradient(to right,  rgb(211, 211, 46), #0ff, rgb(80, 231, 80), #00f);
  -webkit-background-clip: text;
    animation: example 20s linear infinite;
    background-size: 1000%;
}

body{
  background: url("https://i.pinimg.com/originals/eb/32/9f/eb329fd3ab6734a3e98ab798634ca448.jpg") 0 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
body img{
   opacity: 0.6;
}
.bg-image{
    
}
@keyframes example {
  0% {
   background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100%{
    background-position: 0% 100%;
  }
}
.sidenav {
    pointer: click;
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-image:linear-gradient(rgb(67, 67, 173), rgb(90, 227, 231));
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidenav .closebtn{
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 60px;
      color: #ffffff;
      display: block;
      transition: 0.3s;
    }
    
    .sidenav button {
    text-transform: underline ;
      text-decoration: none;
      font-size: 25px;
      color: #ffffff;
      display: block;
      transition: 0.3s;
      background-color: transparent;
      border-style: none;
      width: 100%;
      height: 90px;
    }
    
    .sidenav button:hover {
      background-color: rgb(255, 255, 255);
      color: black;
    }
    
    .sidenav .closebtn:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    .side{
      background-color: #FFF;
      box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.1), 0px 5px 12px rgba(0, 0, 0, 0.07);
    }